body {
  background-color: lightblue;
}

h2 {
  margin-bottom: 10px;
}
.container {
  display: flex;
  height: 90vh; /* Full height of the viewport */
  flex-wrap: wrap;
}

.con1,
.con2,
.con3,
.con4,
.con5,
.con6,
.con7,
.con8,
.con9,
.con10,
.con11,
.con12,
.con13 {
  height: 30%;
  width: 24%;
  border: 1px solid #000;
  margin: 0px 4px;
  box-sizing: border-box;
  background-color: beige;
}

.con1 {
  cursor: url("Cursor Img1.png"), auto;
}

.con2 {
  cursor: url("Cursor Img11.png"), auto;
}

.con3 {
  cursor: url("Cursor Img3.png"), auto;
}

.con4 {
  cursor: url("Cursor Img4.png"), auto;
}

.con5 {
  cursor: url("Cursor Img5.png"), auto;
}

.con6 {
  cursor: url("Cursor Img6.png"), auto;
}

.con7 {
  cursor: url("Cursor Img7.png"), auto;
}

.con8 {
  cursor: url("Cursor Img8.png"), auto;
}

.con9 {
  cursor: url("Cursor Img9.png"), auto;
}

.con10 {
  cursor: url("Cursor Img10.png"), auto;
}

.con11 {
  cursor: url("Cursor Img2.png"), auto;
}

.con12 {
  cursor: url("Cursor Img12.png"), auto;
}

.con13 {
  cursor: url("Cursor Img13.png"), auto;
}
